<!DOCTYPE html>
<html>

  <head>
      <script>document.write('<base href="' + document.location + '" />');</script>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <title>PrimeNG - BARCELONA</title>
      
      <link rel="stylesheet" type="text/css" href="./../../assets/theme/theme-indigo.css">
      <link rel="stylesheet" type="text/css" href="./../../assets/layout/css/layout-indigo.css">
      <link rel="stylesheet" type="text/css" href="./../../assets/primeng/primeng.min.css">
  </head>
  
  <body class="exception-body pagenotfound-body">        
        <div class="exception-panel">
            <img src="./../../assets/layout/images/exception/icon-404.png" />
            
            <button type="button" onclick="location.href='/';" class="ui-button ui-widget ui-state-default ui-corner-all error-page-btn">
                <span class="ui-button-text ui-c">DASHBOARD</span>
            </button>
        </div>
        
        <div class="exception-band">
            <div class="exception-content">
                <h1>PAGE NOT FOUND</h1>
                <p>The page you requested cannot be found</p>
                <img src="./../../assets/layout/images/logo.png" />
            </div>            
        </div>
    </body>
</html>