<div class="ui-g ui-fluid">
  <div class="ui-g-12 ui-lg-12">
    <div class="card card-w-title">
      <h1>Formulir Tambah Dosen</h1>
      <div class="ui-g form-group">
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="nipDosen">
            <label>NIP</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="fullnameDosen">
            <label>Nama Lengkap</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-12"></div>
        <div class="ui-g-12 ui-md-6">
          <p-dropdown [options]="major" [autoWidth]="false" [(ngModel)]="selectedMajor"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-6">
          <p-dropdown [options]="status" [autoWidth]="false" [(ngModel)]="selectedStatus"></p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-12"></div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="number" pInputText [(ngModel)]="contactDosen">
            <label>No Telepon</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <textarea [rows]="1" [cols]="30" pInputTextarea placeholder="Alamat Dosen" autoResize="autoResize" [(ngModel)]="addressDosen"></textarea>
          </span>
        </div>
        <div></div>
        <div class="ui-g-12 ui-md-12">
          <h4>Jenis Kelamin</h4>
          <div class="ui-g">
            <div class="ui-g-12 ui-md-4">
              <p-radioButton name="rg" value="Pria" label="Pria" [(ngModel)]="selectedGender"></p-radioButton>
            </div>
            <div class="ui-g-12 ui-md-4">
              <p-radioButton name="rg" value="Wanita" label="Wanita" [(ngModel)]="selectedGender"></p-radioButton>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-12"></div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="text" pInputText [(ngModel)]="userName">
            <label>Username</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-6">
          <span class="md-inputfield">
            <input type="password" pInputText [(ngModel)]="pwdDosen">
            <label>Password</label>
          </span>
        </div>
        <div class="ui-g-12 ui-md-12"></div>
        <div class="ui-g-12">
          <button type="button" label="Save" pButton icon="ui-icon-save" (click)="save()"></button>
        </div>
      </div>
    </div>