<div class="layout-sidebar" [ngStyle]="{'overflow':app.sidebarActive ? 'hidden' : 'visible'}" [ngClass]="{'layout-sidebar-dark':app.darkMenu}"
  (click)="app.onSidebarClick($event)">
  <div class="layout-tabmenu">
    <ul class="layout-tabmenu-nav">
      <li [ngClass]="{'active-item':app.activeTabIndex === 0}">
        <a href="#" class="ripplelink tabmenuitem-link" (click)="app.onTabClick($event, 0)">
          <i class="material-icons">home</i>
        </a>
        <div class="layout-tabmenu-tooltip">
          <div class="layout-tabmenu-tooltip-arrow"></div>
          <div class="layout-tabmenu-tooltip-text">Features</div>
        </div>
      </li>
    </ul>
    <div class="layout-tabmenu-contents">
      <div class="layout-tabmenu-content" [ngClass]="{'layout-tabmenu-content-active': app.activeTabIndex === 0}">
        <div class="layout-submenu-title clearfix">
          <span>Menu</span>
          <a href="#" class="menu-button material-icons" (click)="app.closeSidebar($event)">menu</a>
        </div>
        <app-sidebarTabContent>
          <app-menu></app-menu>
        </app-sidebarTabContent>
      </div>
    </div>
  </div>
</div>