<div class="layout-sidebar" [ngStyle]="{'overflow':app.sidebarActive ? 'hidden' : 'visible'}" [ngClass]="{'layout-sidebar-dark':app.darkMenu}"
  (click)="app.onSidebarClick($event)">
  <div class="layout-tabmenu">
    <ul class="layout-tabmenu-nav">
      <li [ngClass]="{'active-item':app.activeTabIndex === 0}">
        <a href="#" class="ripplelink tabmenuitem-link" (click)="app.onTabClick($event, 0)">
          <i class="material-icons">home</i>
        </a>
        <div class="layout-tabmenu-tooltip">
          <div class="layout-tabmenu-tooltip-arrow"></div>
          <div class="layout-tabmenu-tooltip-text">Features</div>
        </div>
      </li>
      <li [ngClass]="{'active-item':app.activeTabIndex === 1}">
        <a href="#" class="ripplelink tabmenuitem-link" (click)="app.onTabClick($event, 1)">
          <i class="material-icons">settings_application</i>
        </a>
        <div class="layout-tabmenu-tooltip">
          <div class="layout-tabmenu-tooltip-arrow"></div>
          <div class="layout-tabmenu-tooltip-text">Features</div>
        </div>
      </li>
    </ul>
    <div class="layout-tabmenu-contents">
      <div class="layout-tabmenu-content" [ngClass]="{'layout-tabmenu-content-active': app.activeTabIndex === 0}">
        <div class="layout-submenu-title clearfix">
          <span>Menu</span>
          <a href="#" class="menu-button material-icons" (click)="app.closeSidebar($event)">menu</a>
        </div>
        <app-sidebarTabContent>
          <app-menu></app-menu>
        </app-sidebarTabContent>
      </div>
      <div class="layout-tabmenu-content" [ngClass]="{'layout-tabmenu-content-active': app.activeTabIndex === 1}">
        <div class="layout-submenu-title clearfix">
          <span>Menu</span>
          <a href="#" class="menu-button material-icons" (click)="app.closeSidebar($event)">menu</a>
        </div>
        <app-sidebarTabContent>
          <div class="inbox-tab">
            <ul>
              <li class="clearfix">
                <img src="assets/layout/images/avatar1.png" alt="" width="45">
                <span class="name">Joshua Williams</span>
                <span class="message">Reports attached</span>
              </li>
              <li class="clearfix">
                <img src="assets/layout/images/avatar1.png" alt="" width="45">
                <span class="name">Joshua Williams</span>
                <span class="message">About the meeting</span>
              </li>
              <li class="clearfix">
                <img src="assets/layout/images/avatar2.png" alt="" width="45">
                <span class="name">Emily Clark</span>
                <span class="message">TODO Update</span>
              </li>
              <li class="clearfix">
                <img src="assets/layout/images/avatar3.png" alt="" width="45">
                <span class="name">Tim Johnson</span>
                <span class="message">Expense Reports</span>
              </li>
              <li class="clearfix">
                <img src="assets/layout/images/avatar4.png" alt="" width="45">
                <span class="name">David Stark</span>
                <span class="message">Rating Reviews</span>
              </li>
            </ul>
            <div class="inbox-labels">
              <span>Labels</span>
              <ul>
                <li class="clearfix">
                  <span class="inbox-label">Work</span>
                  <span class="inbox-label-badge">4</span>
                </li>
                <li class="clearfix">
                  <span class="inbox-label">Personel</span>
                  <span class="inbox-label-badge">2</span>
                </li>
                <li class="clearfix">
                  <span class="inbox-label">Shared</span>
                  <span class="inbox-label-badge">3</span>
                </li>
                <li class="clearfix">
                  <span class="inbox-label">General</span>
                  <span class="inbox-label-badge">5</span>
                </li>
              </ul>
            </div>
          </div>
        </app-sidebarTabContent>
      </div>
    </div>
  </div>