html {
    height: 100%;
}
 
body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: $fontSize;
    color: $textColor;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    min-height: 100%;

    &.main-body {
        background-color: $bodyBgColor;
    }

    a {
        text-decoration: none;
    }
}