<div class="ui-g dashboard">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g card overview-box overview-box-1">
            <span class="overview-box-name">Unread Messages</span>
            <span class="overview-box-count">150</span>
            <span class="overview-box-badge">+30%</span>
            <img src="assets/layout/images/dashboard/chart-1.svg" />
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g card overview-box overview-box-2">
            <span class="overview-box-name">Check-Ins</span>
            <span class="overview-box-count">532</span>
            <span class="overview-box-badge">+45%</span>
            <img src="assets/layout/images/dashboard/chart-2.svg" />
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g card overview-box overview-box-3">
            <span class="overview-box-name">Files Synced</span>
            <span class="overview-box-count">640</span>
            <span class="overview-box-badge">-75%</span>
            <img src="assets/layout/images/dashboard/chart-3.svg" />
        </div>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <div class="ui-g card overview-box overview-box-4">
            <span class="overview-box-name">Users Online</span>
            <span class="overview-box-count">5251</span>
            <span class="overview-box-badge">25%</span>
            <img src="assets/layout/images/dashboard/chart-4.svg" />
        </div>
    </div>

    <div class="ui-g-12 activity-feed">
        <p-panel header="ACTIVITY FEED" styleClass="ui-shadow-content">
            <h3>Last Activity</h3>
            <p>Updated 1 minute ago</p>
            <div class="ui-g">
                <div class="ui-g-12 ui-md-3">
                    <span>INCOME</span>
                    <div class="knob income">$900</div>
                </div>
                <div class="ui-g-12 ui-md-3">
                    <span>TAX</span>
                    <div class="knob tax">$250</div>
                </div>
                <div class="ui-g-12 ui-md-3">
                    <span>INVOICES</span>
                    <div class="knob invoice">$125</div>
                </div>
                <div class="ui-g-12 ui-md-3">
                    <span>EXPENSES</span>
                    <div class="knob expense">$250</div>
                </div>
            </div>
        </p-panel>
    </div>

    <div class="ui-g-12 ui-md-12">
        <div class="card">
            <p-panel header="Sales Graph">
                <div style="overflow:auto">
                    <p-chart type="line" [data]="chartData" responsive="true"></p-chart>
                </div>
            </p-panel>
        </div>
    </div>

    <div class="ui-g">
            <div class="ui-g-12">
        <div class="card timeline ui-fluid">
            <div class="ui-g">
                <div class="ui-g-3">
                    <span class="event-time">just now</span>
                    <i class="material-icons" style="color:#009688">&#xE1BC;</i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner" style="color:#009688">Katherine May</span>
                    <span class="event-text">Lorem ipsun dolor amet</span>
                    <div class="event-content">
                        <img src="assets/layout/images/dashboard/bridge.png">
                    </div>
                </div>
                
                <div class="ui-g-3">
                    <span class="event-time">12h ago</span>
                    <i class="material-icons" style="color:#E91E63">&#xE885;</i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner" style="color:#E91E63">Brandon Santos</span>
                    <span class="event-text">Ab nobis, magnam sunt eum. Laudantium, repudiandae, similique!.</span>
                </div>
                
                <div class="ui-g-3">
                    <span class="event-time">15h ago</span>
                    <i class="material-icons" style="color:#9c27b0">&#xE0C9;</i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner" style="color:#9c27b0">Stephan Ward</span>
                    <span class="event-text">Omnis veniam quibusdam ratione est repellat qui nam quisquam ab mollitia dolores ullam voluptates, similique, dignissimos.</span>
                </div>
                
                <div class="ui-g-3">
                    <span class="event-time">2d ago</span>
                    <i class="material-icons" style="color:#ff9800">&#xE0C8;</i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner" style="color:#ff9800">Jason Smith</span>
                    <span class="event-text">Laudantium, repudiandae, similique!</span>
                    <div class="event-content">
                        <img src="assets/layout/images/dashboard/map.png">
                    </div>
                </div>
                
                <div class="ui-g-3">
                    <span class="event-time">1w ago</span>
                    <i class="material-icons" style="color:#607d8b">&#xE91B;</i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner">Kevin Cox</span>
                    <span class="event-text">Quibusdam ratione est repellat qui nam quisquam veniam quibusdam ratione.</span>
                </div>
                
                <div class="ui-g-3">
                    <span class="event-time">2w ago</span>
                    <i class="material-icons" style="color:#FFC107">&#xE23A;</i>
                </div>
                <div class="ui-g-9">
                    <span class="event-owner" style="color:#FFC107">Walter White</span>
                    <span class="event-text">I am the one who knocks!</span>
                </div>
                
                <div class="ui-g-12">
                    <button type="button" label="Refresh" icon="ui-icon-refresh" pButton></button>
                </div>
            </div>
        </div>
        </div>
      </div>
      