<div class="ui-g dashboard">
  <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="ui-g card overview-box overview-box-1">
          <span class="overview-box-name">Unread Messages</span>
          <span class="overview-box-count">150</span>
          <span class="overview-box-badge">+30%</span>
          <img src="assets/layout/images/dashboard/chart-1.svg" />
      </div>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="ui-g card overview-box overview-box-2">
          <span class="overview-box-name">Check-Ins</span>
          <span class="overview-box-count">532</span>
          <span class="overview-box-badge">+45%</span>
          <img src="assets/layout/images/dashboard/chart-2.svg" />
      </div>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="ui-g card overview-box overview-box-3">
          <span class="overview-box-name">Files Synced</span>
          <span class="overview-box-count">640</span>
          <span class="overview-box-badge">-75%</span>
          <img src="assets/layout/images/dashboard/chart-3.svg" />
      </div>
  </div>
  <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="ui-g card overview-box overview-box-4">
          <span class="overview-box-name">Users Online</span>
          <span class="overview-box-count">5251</span>
          <span class="overview-box-badge">25%</span>
          <img src="assets/layout/images/dashboard/chart-4.svg" />
      </div>
  </div>