/* Common */
$fontSize:14px;
$fontFamily:"Roboto","Helvetica Neue",sans-serif;
$lineHeight:1.5em;
$textColor:#424242;
$textSecondaryColor:#757575;
$borderRadius:3px;
$dividerColor:#eaeaea;
$dividerLightColor:#f8f8f8;
$iconWidth:20px;
$iconHeight:20px;
$iconFontSize:20px;
$grayBgColor:#757575;
$hoverBgColor:#e8e8e8;
$hoverTextColor:#000000;

/* Layout */
$bodyBgColor:#fcfbfb;
$menuItemHoverBgColor:#e8e8e8;
$menuitemColor:#757575;
$footerBgColor:#ffffff;

/* Topbar */
$topbarSubmenuBgColor:#f7f7f7;
$topbarSubmenuItemHoverBgColor:#e3e3e3;

/******************************/
/*           THEME            */
/******************************/
$headerPadding:.625em 1em;
$headerFontSize:1em;

$contentPadding:.625em 1em;
$contentBorderColor:#d8d8d8;
$contentBgColor:#ffffff;

$inputBorderColor:#bdbdbd;
$inputFontSize:1em;
$inputHeaderFontSize:1em;
$inputOptionFontSize:1em;
$inputHeaderPadding:.625em 1em;
$invalidInputLabelColor:#e62a10;
$invalidInputBorderColor:#e62a10;
$inputGroupAddonBgColor:#e6e6e6;
$textboxBgColor:#f7f7f7;

$buttonFontSize:1em;

$listItemPadding:.625em 1em;

$radioButtonBorderColor:#757575;
$checkboxBorderColor:#757575;

$dataTableBorderColor:#cacaca;
$dataTableRowBgColorEven:#f4f4f4;
